@import "tailwindcss";

@custom-variant dark (@media (prefers-color-scheme: dark));

@theme {
  --color-paper: #fefefb;
  --color-paper-dark: rgb(28 28 30);
  --color-accent: #33a6b8;
  --color-accent-dark: #f596aa;
}
